@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap');

$black : #454545;
// $black : #F86F03;
// $darkOrange : #FF6000;
$darkOrange : #1D5D9B;
// $lightOrange :#FFA559;
$lightOrange :#22A699;
$white : #FFE6C7;

$myFont : 'Mukta', sans-serif;